name: maplibre_gl
description: A Flutter plugin for integrating Maplibre Maps inside a Flutter application on Android, iOS and web platforms.
version: 0.10.0
homepage: https://github.com/m0nac0/flutter-maplibre-gl

dependencies:
  flutter:
    sdk: flutter
  maplibre_gl_platform_interface:
    git:
      url: https://github.com/m0nac0/flutter-maplibre-gl.git
      path: maplibre_gl_platform_interface
      ref: main
  maplibre_gl_web:
    git:
      url: https://github.com/m0nac0/flutter-maplibre-gl.git
      path: maplibre_gl_web
      ref: main

dependency_overrides:
  maplibre_gl_platform_interface:
    path: ./maplibre_gl_platform_interface
  maplibre_gl_web:
    path: ./maplibre_gl_web

flutter:
  plugin:
    platforms:
      android:
        package: com.mapbox.mapboxgl
        pluginClass: MapboxMapsPlugin
      ios:
        pluginClass: MapboxMapsPlugin
      web:
        default_package: mapbox_gl_web

environment:
  sdk: ">=2.1.0 <3.0.0"
  # Flutter versions prior to 1.10 did not support the flutter.plugin.platforms map.
  flutter: ">=1.10.0"
