name: maplibre_gl
description: A Flutter plugin for integrating Maplibre Maps inside a Flutter application on Android, iOS and web platforms.
version: 0.18.0
homepage: https://github.com/maplibre/flutter-maplibre-gl

dependencies:
  flutter:
    sdk: flutter
  maplibre_gl_platform_interface:
    git:
      url: https://github.com/maplibre/flutter-maplibre-gl.git
      path: maplibre_gl_platform_interface
      ref: git-release-0.18.0
  maplibre_gl_web:
    git:
      url: https://github.com/maplibre/flutter-maplibre-gl.git
      path: maplibre_gl_web
      ref: git-release-0.18.0

dependency_overrides:
  maplibre_gl_platform_interface:
    path: ./maplibre_gl_platform_interface
  maplibre_gl_web:
    path: ./maplibre_gl_web

flutter:
  plugin:
    platforms:
      android:
        package: com.mapbox.mapboxgl
        pluginClass: MapboxMapsPlugin
      ios:
        pluginClass: MapboxMapsPlugin
      web:
        default_package: maplibre_gl_web

environment:
  # Flutter 2.15 is the required min to be able to use Enum.name
  sdk: '>=2.15.0 <3.0.0'
  flutter: ">=2.8.1"

