/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #295daa;
  --ifm-color-primary-dark: #255499;
  --ifm-color-primary-darker: #234f91;
  --ifm-color-primary-darkest: #1d4177;
  --ifm-color-primary-light: #2d66bb;
  --ifm-color-primary-lighter: #2f6bc3;
  --ifm-color-primary-lightest: #417bd1;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #82b4fe;
  --ifm-color-primary-dark: #5c9dfe;
  --ifm-color-primary-darker: #4992fe;
  --ifm-color-primary-darkest: #106ffd;
  --ifm-color-primary-light: #a8cbfe;
  --ifm-color-primary-lighter: #bbd6fe;
  --ifm-color-primary-lightest: #f4f9ff;
}
