name: Flutter CI

on: [push, pull_request, workflow_dispatch]

jobs:
  format:
    name: "Check formatting"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: beta
      - name: Lint analysis
        run: flutter format --set-exit-if-changed .

  lint:
    name: "Static code analysis"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        channel: beta
    - run: flutter pub get
    - name: Lint analysis
      run: flutter analyze
    - name: Lint analysis gl_platform_interface
      working-directory: maplibre_gl_platform_interface
      run: flutter analyze
    - name: Lint analysis gl_web
      working-directory: maplibre_gl_web
      run: flutter analyze

  build-android:
    name: "Build Android apk"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: example

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        java-version: '12'
        distribution: 'adopt'
        cache: 'gradle'
    - uses: subosito/flutter-action@v1
      with:
        channel: beta
    - run: flutter pub get
    - name: Build example APK
      run: flutter build apk
      # We might want to add a flutter test step in the future, when there actually are tests for this plugin
        
  build-iOS:
    name: Build iOS package
    runs-on: macos-latest
    defaults:
      run:
        working-directory: example

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: beta
      - run: flutter pub get
      - name: Build iOS package
        run: flutter build ios --simulator
      - name: Upload Runner.app as artifact
        uses: actions/upload-artifact@v2
        with:
          name: Runner.app
          path: example/build/ios/iphonesimulator
      
          
  build-web:
    name: "Build web"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: example

    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        channel: beta
    - run: flutter pub get
    - name: Build web
      run: flutter build web
