name: Formatter Dispatch
on: [workflow_dispatch]

jobs:
  format:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2.13.0
        with:
          channel: stable
          cache: true
      - name: format
        run: |
          flutter format .
          git config --global user.name "Format Bot"
          git config --global user.email "format-bot-flutter-maplibre-gl@localhost"
          git add .
          git commit -m "format: ${{ github.event.commits[0].id }}"
          git push
          
